@import url('https://fonts.cdnfonts.com/css/cascadia-code');

.centered{
    /*base class for all things that I want centered*/
    position:absolute;
    left: 0vw; 
    right: 0vw;
    top: 0vw;
    bottom: 0vw;
    margin: auto;
}

body{
    background-color: black;
    color: #ffc82a;
    display: flex;
}

.border{
    width: 97vw;
    height: 96vh;
    background-color: transparent;
    border-style: solid;
    border-color: #fff;
    border-width: 0.2vw; 

    position: absolute;
    margin: auto;
    display: flex;
  }

.backgroundPicture{
    background-color: #1e1e1e;
    top: 100px; 
    width: 1600px;
    height: 650px;
    z-index: -100;
}

.intro{
    max-width: 1000px;
    margin: auto;
    padding-top: 250px;
}

.info{
    position: absolute;
    left: 500px; 
    top: 300px;
}

.quickLinks{
    background-color: #1e1e1e;
    position: absolute;
    left: 0; 
    right: 0;
    top: 785px; 
    margin-left: auto; 
    margin-right: auto;
    width: 800px;
    height: 100px;
    z-index: -100;
}

.iconParent{
    position: absolute;
    margin-top: 3vh;
    margin-left: 1vw;
}

iconP{
    margin-left: 20px;
    font-family: 'Cascadia Code', sans-serif;
    font-size: 35px;
    color: white;
}

.aboutSiteIcon{
    display: flex;
    align-items: center;;
    width: 400px;
    height: 100px;
    border: solid;
    border-color: white;
    border-width: 0.1vw;
    margin-top: 10px;
    cursor: pointer;
}

.aboutSiteIcon img{
    width: 90px;
    height: 90px;
    margin-left: 5px;
}

.aboutSite{
    position: absolute;
    width: 40%;
    height: 100%;
    overflow: auto;
    background-color: blue;
}

.cornerArtParent{
    width: 97vw;
    height: 96vh;
    margin: auto;
    display: flex;
}

.cornerArtUpperRight img{
    position: absolute;
    justify-self: end;
    right: -0.3vw;
    top: -0.3vw;
    width: 15vw;
    height: 15vw;
}

.cornerArtBottomLeft img{
    position: absolute;
    justify-self: start;
    bottom: -0.3vw;
    left: -0.3vw;    

    width: 15vw;
    height: 15vw;
    transform: scaleX(-1) scaleY(-1);
}

.solarSystem{
    left: 35vw;
    height: 90vh;
    width: 50vw;
}

.celestialBody{
    background-color: #fff;
    border-radius: 50%;
    z-index: 10;
}

.celestialBody:hover{
    cursor: pointer;
}

.orbit{
    background-color: transparent;
    border:0.05208333333vw solid white; 
    border-radius: 50%;
}

.sun {
    height: 5.20833vw;
    width: 5.20833vw;
}

.planetOneCenter {
    height: 0vw;
    width: 0vw;
    left: 11.71875vw;
}
.planetOne {
    height: 0.78125vw;
    width: 0.78125vw;
    left: 10.67708vw;
}

.planetOneSecondHalf {
    height: 0.78125vw;
    width: 0.78125vw;
    left: 12.89062vw;
}

.planetOneOrbit {
    height: 11.71875vw;
    width: 11.71875vw;
}

.planetTwo {
    height: 1.30208vw;
    width: 1.30208vw;
    left: 20.83333vw;
}

.planetTwoOrbit {
    height: 20.83333vw;
    width: 20.83333vw;
}

.planetTwoMoon {
    height: 0.36458vw;
    width: 0.36458vw;
    left: 18.22917vw;
}

.planetTwoMoonOrbit {
    height: 2.60417vw;
    width: 2.60417vw;
    left: 20.83333vw;
}

.planetThree {
    height: 3.125vw;
    width: 3.125vw;
    left: 39.0625vw;
}
.planetThreeOrbit {
    height: 39.0625vw;
    width: 39.0625vw;
}

.planetThreeMoonOne {
    height: 0.46875vw;
    width: 0.46875vw;
    left: 33.8542vw
  }
  
  .planetThreeMoonTwo {
    height: 0.46875vw;
    width: 0.46875vw;
    left: 41.6667vw;
    top: -4.51042vw;
  }
  
  .planetThreeMoonThree {
    height: 0.46875vw;
    width: 0.46875vw;
    left: 41.6667vw;
    top: 4.51042vw;
  }
  
  .planetThreeMoonFour {
    height: 0.46875vw;
    width: 0.46875vw;
    left: 44.2708vw;
  }
  
  .planetThreeMoonFive {
    height: 0.46875vw;
    width: 0.46875vw;
    left: 36.4583vw;
    top: -4.51042vw;
  }
  
  .planetThreeMoonSix {
    height: 0.46875vw;
    width: 0.46875vw;
    left: 36.4583vw;
    top: 4.51042vw;
  }
  
  .planetThreeMoonSeven {
    height: 0.46875vw;
    width: 0.46875vw;
    left: 39.0625vw;
    top: -5.20833vw;
  }
  
  .planetThreeMoonEight {
    height: 0.46875vw;
    width: 0.46875vw;
    left: 39.0625vw;
    top: 5.20833vw;
  }
  
  .planetThreeMoonNine {
    height: 0.46875vw;
    width: 0.46875vw;
    left: 34.5521vw;
    top: 2.60417vw;
  }
  
  .planetThreeMoonTen {
    height: 0.46875vw;
    width: 0.46875vw;
    left: 43.5729vw;
    top: 2.60417vw;
  }
  
  .planetThreeMoonEleven {
    height: 0.46875vw;
    width: 0.46875vw;
    left: 34.5521vw;
    top: -2.60417vw;
  }
  
  .planetThreeMoonTwelve {
    height: 0.46875vw;
    width: 0.46875vw;
    left: 43.5729vw;
    top: -2.60417vw;
  }  

.planetThreeMoonOrbit {
    height: 1.30208vw;
    width: 1.30208vw;
    left: 39.0625vw;
}

.planetFour {
    height: 2.08333vw;
    width: 2.08333vw;
    left: 28.64583vw;
}

.planetFourOrbit {
    height: 28.64583vw;
    width: 28.64583vw;
}

.planetFive {
    height: 2.08333vw;
    width: 2.08333vw;
    left: -28.64583vw;
}

.wormHoleA{
    height: 50px;
    width: 50px;
    left: 1200px;
}

.wormHoleB{
    height: 50px;
    width: 50px;
    left: -1200px;
}

h1{
    position: absolute;
    color: #fff;
    font-family: 'Cascadia Code', sans-serif;
    font-size: 1vw;
    margin-top: 0.5vh;
    margin-left: 1vw;
    -webkit-text-size-adjust: none;
}

h2{
    color: #ffc82a;
    text-align: center;
    font-family: 'Cascadia Code', sans-serif;
    font-size: medium;
    margin-top: 10px;
}


p{
    text-align: left;
    margin-left: 10px;
    font-family: 'Cascadia Code', sans-serif;
}

a{
    font-family: 'Cascadia Code', sans-serif;
}

.type{
    color: #2362f5;
}

.variable{
    color: #dcdcdc;
}

.value{
    color: #fcdd03;
}