@import url('https://fonts.cdnfonts.com/css/cascadia-code');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

h1{
    position: absolute;
    color: #fff;
    font-family: 'Cascadia Code', sans-serif;
    font-size: 1vw;
    margin-top: 0.5vh;
    margin-left: 1vw;
    -webkit-text-size-adjust: none;
}

h2{
    color: white;
    text-align: center;
    font-family: 'Cascadia Code', sans-serif;
    font-size: 4vh;
    margin:0 auto;
    margin-top: 0.5vw;
    white-space: nowrap;
}

h3{
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 15px;
}


p{
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    top: 0%;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
}

a{
    font-family: 'Cascadia Code', sans-serif;
    color: blue
}

.centered{
    /*base class for all things that I want centered*/
    position:absolute;
    left: 0vw; 
    right: 0vw;
    top: 0vw;
    bottom: 0vw;
    margin: auto;
}

body{
    background-color: black;
    color: #fff;
    display: flex;
}

.border{
    width: 97vw;
    height: 90vh;
    background-color: transparent;
    border-style: solid;
    border-color: #fff;
    border-width: 0.2vw; 

    position: absolute;
    margin: auto;
    display: flex;
    overflow: hidden;

    transition: height 0.1s ease;
  }

.backgroundPicture{
    background-color: #1e1e1e;
    top: 100px; 
    width: 1600px;
    height: 650px;
    z-index: -100;
}

.intro{
    max-width: 1000px;
    margin: auto;
    padding-top: 250px;
}

.myFace{
    display: flex;
    height: 400px;
    width: 400px;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 0%;
}

.myFace img{
    position: relative;    
}

.info{
    position: absolute;
    left: 500px; 
    top: 300px;
}

.quickLinks{
    background-color: #1e1e1e;
    position: absolute;
    left: 0; 
    right: 0;
    top: 785px; 
    margin-left: auto; 
    margin-right: auto;
    width: 800px;
    height: 100px;
    z-index: -100;
}

.iconParent{
    position: absolute;
    margin-left: 1vw;
    top: 50%;
    transform: translateY(-50%);
}

iconP{
    margin-left: 1vw;
    font-family: 'Cascadia Code', sans-serif;
    font-size: 2vw;
    color: white;
}

.pageIcon{
    display: flex;
    align-items: center;;
    width: 150%;
    height: 6vw;
    background-color: #222222;
    /*border: solid;
    border-color: white;
    border-width: 0.1vw;*/
    margin-top: 0.8vw;
    cursor: pointer;
}

.pageIcon img{
    width: 5vw;
    height: 5vw;
    margin-left: 0.5vw;
}

.smallMaster{
    display: grid; 
    position: absolute; 
    top: 35%;
    width: 3.5vw;
    right: -3.5vw;
    overflow: hidden;
    transition-property: all;
}

.smallParent{
    width: 3.5vw;
    background-color: transparent;
    display: flex;
    overflow: hidden;

    transition: width 0.4s ease;
}

.smallParent:hover{
    cursor: pointer;
}

.smallPageIcon{
    width: 3vw;
    height: 3vw;
    background-color: #1b1b1b;
    border: solid white 0.1vw;
    
    z-index: 12;

    transition-delay:  0.3s;
    transition-property: border;
}

.smallPageIcon img{
    width: 100%;
    height: 100%;
}

.smallPageName{
    position: absolute;
    overflow: hidden;
    width: 9vw;
    height: 3vw;
    background-color: #1b1b1b;
    border: solid white 0.1vw;
    border-left: none;

    transition-delay:  0.3s;
    transition-property: border;

    margin-left: -7vw;
    transition: margin 0.3s ease;

    z-index: 11;
}

.smallPageName p{
    color: white;
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
    padding: 0.5vw;
}

.page{
    display: block;
    position: absolute;
    width: 45%;
    left: -50%;
    transition: width 0.4s ease;
    transition: left 0.5s ease;
    height: 100%;
    overflow: visible;
    background-color: #222;
    z-index: 11;
}

.pageHeader{
    width: 100%;
    height: 8vh;
    display: grid;  
    overflow: visible;
}

.pageContent{
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    margin-top: -6vh;
}

.contentBlock{
    width: 80%;
    margin: auto;
    display:grid;
}

.closeButton{
    justify-self: end;
    margin-top: 0.5vh;
    margin-right: -4vw;
    position: absolute;
    transition: all 0.4s ease;
}

.closeButton img{
    width: 3vw;
    height: 3vw;
}

.closeButton:hover{
    cursor: pointer;
}

.projectContent{
    display: block; 
    width: 95%;
}

.projectBlockParent{
    width: 49%;
    display: inline-block;
    margin-bottom: 20px;
}

.projectBlock{
    background-color: transparent;
    width: 100%;
    height: 350px;
    overflow: visible;

    transition: all 0s cubic-bezier(0, 1, 0.63, 0.1);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    display: block;
}

.projectBlock:hover{
    transition: all 0.4s cubic-bezier(.48,.14,0,1.41);
    transform: scale(1.1);
    cursor: pointer;
}

.projectHalf{
    width: 50%;
}

.projectImage{
    position: relative;
    display: flex;
    height: 250px;
    width: 400px;
    margin: auto;
}

.projectImage img{
    position: absolute;
    width: 200px;
    height: auto;
    margin: auto;
    background-color: #dcdcdc;
}

.projectTitle{
    display: flex;
    text-align: center;
    width: 100%;
}

.projectTitle p {
    font-family: 'Kanit', sans-serif;
    margin: auto;  
    margin-top: 0px;
    font-size: 40px;
    overflow: visible;
    line-height: 40px;
}

.projectDescription{
    width: 100%;
    max-height: 40%;
    overflow: auto;
    text-align: center;
}

.projectDescription p{
    font-size: 1vw;
}

.projectButton{
    width: 50%;
    height: 40px;
    background-color: white;
    border-radius: 6px;
    margin: auto;
    margin-top: 4vh;
}

.projectButton:hover{
    cursor: pointer;
}

.projectButton p{
    font-size: 1vw;
    color: black;
    text-align: center;
    padding: 5%;
}

.projectPopUp{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    z-index: 20;
    width: 0%;
    height: 0%;
    background-color: #222;
    overflow: hidden;
    outline: solid white 2px;

    transition: all 0.4s ease;
}
.projectPopUpVertical{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 50%;
    transform: translate(0%, -50%);
    margin: auto;
    z-index: 20;
    width: 0%;
    height: 0%;
    background-color: #222;
    overflow: hidden;
    outline: solid white 2px;

    transition: all 0.4s ease;
}

.popUpImage{
    width: 58.5%;
    float: left;
    margin-right: 4.5%;

    transition: opacity 0.5s ease;
    overflow: hidden;
}

.popUpImage img{
    width: 50%;
    margin: 0; 
    display: inline-block;
    margin-right: -4px;
    margin-bottom: -4px;
}

.popUpImageVertical{
    width: 100%;
    height: auto;
    transition: opacity 0.5s ease;
    overflow: hidden;
}

.popUpImageVertical img{
    width: 50%;
    margin: 0; 
    display: inline-block;
    margin-right: -4px;
    margin-bottom: -4px;
}

.popUpRight{
    width: 33.5%;
    height: 100%;
    float: left;
    padding: 5px 2.5% 5px 0px;
    bottom: 50px;
    transition: opacity 0.5s ease;
    overflow: auto;
}

.popUpRight a{
    text-decoration: none !important;
}

.popUpBottom{
    width: 80%;
    height: auto;
    padding: 5px 2.5% 5px 0px;
    bottom: 50px;
    transition: opacity 0.5s ease;
    overflow: auto;
    margin: auto;
}

.popUpBottom a{
    text-decoration: none !important;
}

.popUpDescription{
    font-size: 20px;
}

.popUpButton{
    padding-top: 30px;
    padding-bottom: 40px;
}

.popUpLink{
    background-color: #696671;
    padding: 10px 24px 9px 24px;
    font-size: 18px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -khtml-border-radius: 6px;
    color: #ffffff;

    text-decoration: none;
    display: inline;
}

.popUpClose{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0px;
    right: 0px;
    background-color: #fff;
}

.popUpClose img{
    width: 75%;
    height: 75%;
}

.popUpClose:hover{
    cursor: pointer;
}

.roleText{
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 16px;
    margin-top: 8px;
    text-transform: uppercase;
}

.cornerArtParent{
    width: 97vw;
    height: 96vh;
    margin: auto;
    display: flex;
}

.cornerArtUpperRight img{
    position: absolute;
    justify-self: end;
    right: -0.3vw;
    top: -0.3vw;
    width: 15vw;
    height: 15vw;
}

.cornerArtBottomLeft img{
    position: absolute;
    justify-self: start;
    bottom: -0.3vw;
    left: -0.3vw;    

    width: 15vw;
    height: 15vw;
    transform: scaleX(-1) scaleY(-1);
}

/* For mobile phones:
[class*="col-"] {
    width: 100%;
  }
  */
@media only screen and (min-width: 600px) {
    /* For tablets: */
  }
  @media only screen and (min-width: 0px) {
    /* For desktop: */
    .projectBlockParent{display: block; margin: 0 auto; width: 100%; margin-bottom: 20px;}
 }
  @media only screen and (min-width: 985px) {
    /* For desktop: */
    .projectBlockParent{display: block; margin: 0 auto; width: 100%; margin-bottom: 20px;}
 }
  @media only screen and (min-width: 1800px) {
    /* For desktop: */
    .projectBlockParent{display: inline-block; margin: auto; width: 49%; margin-bottom: 20px;}
 }
 

.solarSystem{
    left: 45vw;
    height: 100vh;
    width: 50vw;

}

.celestialBody{
    background-color: #fff;
    border-radius: 50%;
    z-index: 10;
    transition: background-color 0.4s ease;
}

.celestialBody:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
}

.orbit{
    background-color: transparent;
    border:0.05208333333vw solid white; 
    border-radius: 50%;
}

.sun {
    height: 5.20833vw;
    width: 5.20833vw;
}

.planetOneCenter {
    height: 0vw;
    width: 0vw;
    left: 11.71875vw;
}
.planetOne {
    height: 0.78125vw;
    width: 0.78125vw;
    left: 10.67708vw;
}

.planetOneSecondHalf {
    height: 0.78125vw;
    width: 0.78125vw;
    left: 12.89062vw;
}

.planetOneOrbit {
    height: 11.71875vw;
    width: 11.71875vw;
}

.planetTwo {
    height: 1.30208vw;
    width: 1.30208vw;
    left: 20.83333vw;
}

.planetTwoOrbit {
    height: 20.83333vw;
    width: 20.83333vw;
}

.planetTwoMoon {
    height: 0.36458vw;
    width: 0.36458vw;
    left: 18.22917vw;
}

.planetTwoMoonOrbit {
    height: 2.60417vw;
    width: 2.60417vw;
    left: 20.83333vw;
}

.planetThree {
    height: 3.125vw;
    width: 3.125vw;
    left: 39.0625vw;
}
.planetThreeOrbit {
    height: 39.0625vw;
    width: 39.0625vw;
}

.planetThreeMoonOne {
    height: 0.46875vw;
    width: 0.46875vw;
    left: 33.8542vw
  }
  
  .planetThreeMoonTwo {
    height: 0.46875vw;
    width: 0.46875vw;
    left: 41.6667vw;
    top: -4.51042vw;
  }
  
  .planetThreeMoonThree {
    height: 0.46875vw;
    width: 0.46875vw;
    left: 41.6667vw;
    top: 4.51042vw;
  }
  
  .planetThreeMoonFour {
    height: 0.46875vw;
    width: 0.46875vw;
    left: 44.2708vw;
  }
  
  .planetThreeMoonFive {
    height: 0.46875vw;
    width: 0.46875vw;
    left: 36.4583vw;
    top: -4.51042vw;
  }
  
  .planetThreeMoonSix {
    height: 0.46875vw;
    width: 0.46875vw;
    left: 36.4583vw;
    top: 4.51042vw;
  }
  
  .planetThreeMoonSeven {
    height: 0.46875vw;
    width: 0.46875vw;
    left: 39.0625vw;
    top: -5.20833vw;
  }
  
  .planetThreeMoonEight {
    height: 0.46875vw;
    width: 0.46875vw;
    left: 39.0625vw;
    top: 5.20833vw;
  }
  
  .planetThreeMoonNine {
    height: 0.46875vw;
    width: 0.46875vw;
    left: 34.5521vw;
    top: 2.60417vw;
  }
  
  .planetThreeMoonTen {
    height: 0.46875vw;
    width: 0.46875vw;
    left: 43.5729vw;
    top: 2.60417vw;
  }
  
  .planetThreeMoonEleven {
    height: 0.46875vw;
    width: 0.46875vw;
    left: 34.5521vw;
    top: -2.60417vw;
  }
  
  .planetThreeMoonTwelve {
    height: 0.46875vw;
    width: 0.46875vw;
    left: 43.5729vw;
    top: -2.60417vw;
  }  

.planetThreeMoonOrbit {
    height: 1.30208vw;
    width: 1.30208vw;
    left: 39.0625vw;
}

.planetFour {
    height: 2.08333vw;
    width: 2.08333vw;
    left: 28.64583vw;
}

.planetFourOrbit {
    height: 28.64583vw;
    width: 28.64583vw;
}

.planetFive {
    height: 2.08333vw;
    width: 2.08333vw;
    left: -28.64583vw;
}

.wormHoleA{
    height: 50px;
    width: 50px;
    left: 1200px;
}

.wormHoleB{
    height: 50px;
    width: 50px;
    left: -1200px;
}



.type{
    color: #2362f5;
}

.variable{
    color: #dcdcdc;
}

.value{
    color: #fcdd03;
}